:root {
    --grid-border: 1px dotted rgba(0,0,0,0.2);
    --default-text-color: #172b4d;
    --default-font-size:12pt;
    --default-font-weight: 700;
    --default-font-family: cursive;
}

body {
    margin: 0;
    padding: 0;
}

#infographic {
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: 
        "header header"
        "content explain"
        "footer footer";
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#infographic .loading {
    width: 200px;
    height: 130px;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 65px);
}

#infographic > header, #infographic > footer, #infographic .infographic-measure .linear, #infographic .infographic-measure .list {
    color: var(--default-text-color);
    font-size: var(--default-font-size);
    font-weight: var(--default-font-size);
    font-family: var(--default-font-family);
}

#infographic > header, #infographic > footer {
    padding: 5px 0;
    background-color: #edeff0;
}

#infographic > header {
    grid-area: header;
    text-align: center;
}

#infographic > footer {
    grid-area: footer;
    padding-left: 15px;
}

#infographic .infographic-measure {
    grid-area: content;
    display: grid;
    overflow: auto;
}

#infographic .infographic-measure > div {
    box-sizing: border-box;   
}


#infographic .infographic-measure .linear, #infographic .infographic-measure .list {
    text-align: center;
}

#infographic .infographic-measure .list:active {
    background-color: rgb(150, 191, 204);
}

#infographic .infographic-measure .linear {
    border-right: none;
    justify-content: flex-end;
    padding-right: 10px;
    position: relative;
    background: #edeff0;
}


#infographic .infographic-measure .linear.header::after {
    content: none;
}

#infographic .infographic-measure .list {
    border-left: var(--grid-border);
    border-right: var(--grid-border);
    border-bottom: var(--grid-border);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#infographic .infographic-measure .list.green {
    background-color: #29ab87;
}

#infographic .infographic-measure .list.green:hover {
    background-color: #1c9c79;
}

#infographic .infographic-measure .list.green:active {
    background-color: #117c60;
}

#infographic .infographic-measure .list.red {
    background-color: #ff6a6a;
}

#infographic .infographic-measure .list.red:hover {
    background-color: #ff5a5a;
}

#infographic .infographic-measure .list.red:active {
    background-color: #fc4c4c;
}

#infographic .infographic-measure .list.header, #infographic .infographic-measure .linear.header {
    border-left: none;
    border-right: none;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #edeff0;
    z-index: 2;
    margin: 0;
}

#infographic .infographic-measure .list:hover, #infographic .infographic-measure .list.heder:hover {
    background-color: lightblue;
    cursor: pointer;
}


#infographic .explain {
    border: none;
    background: #edeff0;
    padding: 10px;
}   

#infographic .explain .info {
    display: flex;
    flex-direction: column;
}

#infographic .explain .legend {
    display: flex;
    margin: 10px 0 0 0;
}

#infographic .explain .legend .block {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

#infographic .explain .legend .block.red {
    background-color: #ff6a6a;
}

#infographic .explain .legend .block.green {
    background-color: #29ab87;
}