#settings {
    display: flex;
    flex-direction: column;
}

#settings > label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#settings button[type="submit"] {
    order: 100;
    margin-top: 10px;
}

#settings #settings_list {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
    font-size: 16px;
}

#settings #settings_list input[type="checkbox"] {
    float: left;
}
