#settings {
    display: flex;
    flex-direction: column;
}

#settings button[type="submit"] {
    order: 100;
}


#settings #settings_list {
    display: flex;
    flex-direction: column;
}

#settings #settings_list input[type="checkbox"] {
    float: left;
}